.container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.card {
  display: flex;
  gap: 40px;
  background: #ada6a6;
  padding: 30px;
  border-radius: 18px;
  max-width: 900px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  min-width: 250px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  color: #4f46e5;
  font-weight: 600;
  margin-bottom: 15px;
}

.desc {
  font-size: 1rem;
  color: #9e7474;
  margin-bottom: 25px;
  line-height: 1.6;
}

.button {
  background: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  width: 160px;
  transition: background 0.3s ease;
}

.button:hover {
  background: #333;
}

.notFound {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
  color: red;
}

/* Responsive */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .info {
    align-items: center;
    text-align: center;
  }

  .button {
    width: 100%;
    max-width: 200px;
  }
}
